.cover-background {
    height: 100vh;
    background-color: darkslateblue;
    color:white;
}

.top-section, .middle-section, .last-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.top-section {
    padding-top: 5%;
    margin-bottom: 40px;
}

.top-section h2 {
    font-size: 48px;
    font-weight: 200;
    margin-bottom: 8px;
}

.top-section p {
    font-size: 24px;
}

.middle-section{
    margin-bottom: 36px;
}

.middle-section h3 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 12px;
}

.middle-section p {
    font-size: 18px;
    font-weight: 500;
}

.last-section p {
    font-size: 18px;
    font-weight: 500;
}

.last-section .demo-info {
    margin-top: 15px;
}
.last-section .demo-info p {
    font-size: 16px;
    color: darksalmon
}

.last-section button {
    margin: 15px 20px 15px 0;
    width: 100px;
    height: 40px;
    background-color: white;
    color: darkslateblue;
    border-radius: 25px;
    border-style: none;
}

.last-section button:hover {
    background-color: darksalmon;
    color: white;
}